.TextRectangle {
	font-size: 1.5rem;
	padding: 0.75em;
	width: 75%;
	max-width: 425px;
	margin: 0.15em auto;
	transition: 0.3s;
	opacity: 0.85;
}

.TextRectangle:hover {
	transform: scale(1.02);
	box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
	opacity: 1;
}

.TextRectangle--light {
	background: var(--color-secondary);
	color: var(--color-primary);
}

.TextRectangle--dark {
	background: black;
	color: white;
}

.TextRectangle--accent {
	background: var(--color-accent);
	color: black;
	opacity: 0.5;
}

.TextRectangle--accent:hover {
	opacity: 1;
}

@media (min-width: 1024px) {
	.TextRectangle {
		width: 100%;
		max-width: 600px;
		margin: 0;
	}
}
