.TextRectangle {
	font-size: 1.4rem;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.TextRectangle--leftSideTriangle {
	clip-path: polygon(10% 0, 100% 0, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
	padding-inline-start: 10px;
}

.TextRectangle--light {
	background: #f2f2f2;
	color: #000;
}

.TextRectangle--dark {
	background: #000;
	color: #f2f2f2;
}
