.TextRectangle {
	text-align: center;
	margin-inline: auto;
	transition: 0.3s;
	opacity: 0.95;
}

.TextRectangle:hover {
	transform: scale(1.01);
	opacity: 1;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.TextRectangle--leftSideTriangle {
	clip-path: polygon(10% 0, 100% 0, 100% 50%, 100% 100%, 10% 100%, 0% 50%);
}

.TextRectangle--light {
	background: #f2f2f2;
	color: #000;
}

.TextRectangle--dark {
	background: #000;
	color: #f2f2f2;
}

@media (min-width: 45em) {
	.TextRectangle {
		display: flex;
		align-items: center;
		text-align: start;
		padding: var(--s-size);
	}

	.TextRectangle h4 {
		padding: var(--s-size);
		margin: 0;
	}

	.TextRectangle--leftSideTriangle {
		padding-left: var(--l-size);
		margin-left: calc(-1 * var(--m-size));
	}

	.TextRectangle--dark {
		margin-block: 0;
		width: 80%;
		margin-inline: 0;
		margin-left: var(--m-size);
	}
}
