:root {
	/* colors */
	--color-orange: #faad17;
	--color-red-orange: #eb6952;
	--color-purple: #7e46dd;
	--color-gray: #c8c8c8;
	--color-dark-gray: #181818;
	--color-lightGray: #f2f2f2;
	--color-white: #fff;
	--color-black: #000;
}
