.HomeBefore {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: url('../../../res/images/colorful-bg.png') no-repeat center center/cover;
}

.HomeBefore::before {
	content: '';
	background: url('../../../res/images/colorful-bg.png') no-repeat center center/cover;
	filter: sepia(100%);
	opacity: 0;
}

.HomeBefore:hover::before {
	opacity: 0.7s;
	animation: glitch 1.5s infinite linear;
}

@keyframes glitch {
	0% {
		top: 0;
		background-position: 12px 0;
	}
	20% {
		top: 80px;
		background-position: -10px -80px;
	}
	40% {
		top: 160px;
		background-position: 6px -160px;
	}
	60% {
		top: 240px;
		background-position: -6px -240px;
	}
	80% {
		top: 320px;
		background-position: 10px -320px;
	}
	100% {
		top: 400px;
		background-position: -12px -400px;
	}
}

.HomeBefore__welcome-text {
	text-align: center;
}

.HomeBefore__flex-container {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.HomeBefore__flex-container > * {
	width: 100%;
}
