@import '../../../res/vars.scss';

.HomeBefore {
	height: 100vh;
	background: url('../../../res/images/colorful-bg.png') no-repeat center;
	background-size: cover;
}

.HomeBefore__welcome-text {
	font-size: 7.5rem;
	text-align: center;
	color: var(--color-gray);
	padding-top: 75px;
}

.HomeBefore__welcome-text--red-orange-text {
	color: var(--color-red-orange);
}

.HomeBefore__welcome-text--purple-text {
	color: var(--color-purple);
}

.HomeBefore__welcome-text--orange-text {
	color: var(--color-orange);
}

.HomeBefore__flex-container {
	display: flex;
	padding: 10rem 2.5rem;
	justify-content: space-between;
}

.HomeBefore__flex-container-box {
	font-size: 1.5rem;
	width: 300px;
	text-align: center;
}

.HomeBefore__flex-container-box h3 {
	padding: 1rem;
}

.HomeBefore__flex-container-box h4 {
	text-align: justify;
}
