.Home {
	width: 95%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3em;
}

.Home img {
	width: 75%;
	max-width: 400px;
	transition: 0.3s;
	text-align: center;
	margin: 0 auto;
}

.Home img:hover {
	transform: scale(1.02);
}

@media (min-width: 1024px) {
	.Home__profile {
		display: flex;
		width: 90%;
		max-width: 960px;
		text-align: start;
		gap: 1em;
		margin: 2em auto;
		justify-content: space-between;
	}

	.Home__profile > * {
		width: 100%;
	}

	.Home img {
		margin-inline: 0;
	}

	.Home__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
}
