.HomeAfter {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.3vh;
}

.HomeAfter__welcome-container {
	text-align: center;
	font-family: Hacked;
}

.HomeAfter__info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3vh;
}

.HomeAfter__image {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.HomeAfter__data-container {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}
