.HomeAfter {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 45em) {
	.HomeAfter__profile {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.HomeAfter__image {
	margin-inline: auto;
	width: unquote('min(90%, 13em)');
}

@media (min-width: 45em) {
	.HomeAfter__image {
		margin-inline: 0;
		margin-left: var(--s-size);
		width: unquote('min(50%, 25em)');
	}
}

.HomeAfter__data-container {
	margin-inline: var(--s-size);
}

@media (min-width: 45em) {
	.HomeAfter__data-container {
		width: unquote('min(100%, 35em)');
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.HomeAfter__data-container > * {
		width: 95%;
	}
}
