.Contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Contact > * {
	width: 100%;
}

.Contact__skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	padding-bottom: var(--m-size);
}

.ContactItem__icon {
	font-size: var(--font-m-size);
	margin: auto;
}

@media (min-width: 45em) {
	.Contact__info {
		display: flex;
		justify-content: center;
		margin-inline: auto;
		width: 70%;
	}

	.Contact__info > * {
		width: 100%;
	}

	.ContactItem {
		margin-inline: auto;
	}
}
