.Contact > * {
	height: 100vh;
}

.Contact__skill-levels {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Contact__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
