.Contact {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 3em;
}

.Contact__media {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

@media (max-width: 768px) {
	.Contact__media {
		flex-direction: column;
		gap: 0.25em;
	}
}

.ContactItem__icon {
	font-size: 3rem;
}

.Contact__footer {
	margin-top: 1em;
	text-align: center;
	color: var(--color-primary-light);
}
