.GlitchText {
	font-size: 3rem;
	position: relative;
	font-family: var(--ff-accent);
}

.GlitchText::before,
.GlitchText::after {
	content: attr(data-text);
	background: inherit;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.GlitchText::before {
	left: -0.035em;
	text-shadow: 1px 0 blue;
	// color: blue;
	// z-index: 1;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-1 3s infinite linear alternate-reverse;
}

@keyframes noise-animation-1 {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100) + px, 9999px, random(100) + px, 0);
		}
	}
}

.GlitchText::after {
	left: 0.035em;
	text-shadow: -1px 0 red;
	// color: red;
	// z-index: 1;
	clip: rect(0, 900px, 0, 0);
	animation: noise-animation-2 2s infinite linear alternate-reverse;
}

@keyframes noise-animation-2 {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100) + px, 9999px, random(100) + px, 0);
		}
	}
}
