.Portfolio > * {
	height: 100vh;
}

@media (min-width: 60em) {
	.Portfolio {
		height: 100vh;
		display: flex;
		padding-inline: var(--l-size);
		gap: 2rem;
	}

	.Portfolio > * {
		width: 100%;
		height: 40em;
		margin-block: auto;
	}
}
