.InfoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.InfoBox > * {
	height: 100%;
}

.InfoBox__image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

@media (min-width: 60em) {
	.InfoBox {
		background: var(--color-primary-light);
		transition: 0.3s;
	}

	.InfoBox:hover {
		background: var(--color-primary-focus);
	}
}
