.InfoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.InfoBox__image-container {
	max-width: 200px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

@media only screen and (min-width: 768px) {
	.InfoBox {
		background: var(--color-primary-light);
		margin: var(--l-size);
		transition: 0.3s;
		border-radius: 5px;
	}

	.InfoBox:hover {
		background: var(--color-primary-focus);
	}
}
