.InfoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10vh;
}

.InfoBox__image-container img {
	width: 180px;
	height: 180px;
}

.InfoBox__text-container {
	font-size: 1.2rem;
}

.InfoBox__text-container h1 {
	font-size: 3rem;
}

.InfoBox__technologies {
	font-weight: bold;
	font-size: 1.1rem;
}
