@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	background: #181818;
	color: #f4f4f4;
}

.container {
	height: 100vh;
}
