@import './res/scss/global.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--ff-primary);
	background: #181818;
	color: #f4f4f4;
	cursor: default;
}

h1,
h2,
h3 {
	font-family: var(--ff-accent);
}

h1 {
	font-size: 2.4rem !important;
}

@media (min-width: 45em) {
	h1 {
		font-size: 6rem !important;
	}
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

hr {
	background: var(--color-secondary);
	width: unquote('min(95%, 65em)');
	margin-inline: auto;
}

.text-center {
	text-align: center;
}
